{% extends "general/base.html" %}
{% block content %}
<div id="content" class="span11" style="min-height: 613px;">
<h2>Búsqueda</h2>

<p>Para excluir términos anteponer la palabra NOT</p>
<p>Para incluir términos separar las palabras con OR</p>
<p>Para determinar una conjunción, usar AND</p>


<form class="form-horizontal" action="busqueda" method="post">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="typeahead">Términos de búsqueda</label>
            <div class="controls">
                <input type="text" class="span6 typeahead" name="searchTerms">
            </div>
        </div>
        <div class="form-actions">
		<button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </fieldset>
</form>
<br>

{% if searchTerms %}
<h3>Resultados para:</h3>
<h4 onload="alert('a');">{{ searchTerms }}</h4>
<br>
{% endif %}

{% if img %}
<div id="content" class="span12">
    <img src="static/general/word_cloud/{{ img }}" width="800" height="800" />
</div>
{% endif %}

{% if registros %}
<h2>Preguntas</h2>

    <p>Listado de preguntas obtenidas del RSS acerca de películas</p>


    <form class="form-horizontal" action="pregunta" method="post">
        <fieldset>
            <div class="row-fluid sortable ui-sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Preguntas</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						
                            <table class="table table-striped table-bordered " id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
						  <thead>
							  <tr role="row">
                                            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 170px;">Pregunta</th>
                                            <th>Cantidad respuestas</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 289px;">Actions</th></tr>
						  </thead>   
						  
					  <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for entry in registros %}
                                        <tr>
    									<td>{{ entry.question }}</td>
                                                <td>{{ entry.answers|length }}</td>
    									<td class="center ">
									<a class="btn btn-success" href="{{ 'pregunta/' + entry.id }}">
										<i class="halflings-icon white zoom-in"></i>  
									</a>
								</td>
    									                                      
    								</tr>
                                      {% endfor %}

                    
                            </tbody></table>
					</div>
				</div><!--/span-->
			
			</div>
        </fieldset>
    </form>
    <br>
{% endif %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script>
// self executing function here
(function() {
   /* ---------- Pie chart ---------- */
	var data = [
	{ label: "Internet Explorer",  data: 12},
	{ label: "Mobile",  data: 27},
	{ label: "Safari",  data: 85},
	{ label: "Opera",  data: 64},
	{ label: "Firefox",  data: 90},
	{ label: "Chrome",  data: 112}
	];
	
	if($("#busquedaPolaridad").length)
	{
		$.plot($("#busquedaPolaridad"), data,
		{
			series: {
					pie: {
							show: true
					}
			},
			grid: {
					hoverable: true,
					clickable: true
			},
			legend: {
				show: false
			},
			colors: ["#FA5833", "#2FABE9", "#FABB3D", "#78CD51"]
		});
		
		function pieHover(event, pos, obj)
		{
			if (!obj)
					return;
			percent = parseFloat(obj.series.percent).toFixed(2);
			$("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
		}
		$("#busquedaPolaridad").bind("plothover", pieHover);
	}
	

})();
</script>





{% endblock %}