{% extends "general/base.html" %}
{% block content %}
<div id="content" class="span11" style="min-height: 613px;">
<!-- start: Content -->
    <div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>Apoyo/Matoneo por usuario</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<form class="form-horizontal" action="indice" method="post">
							<fieldset>
							  
							  <div class="control-group">
								<label class="control-label" for="selectError3">usuario</label>
								<div class="controls">
								  <select name="user">
                                          {% for entry in users %}
                                            <option>{{entry}}</option>
                                          {% endfor %}
								  </select>
								</div>
							  </div>
							  
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary">Analizar</button>
								<button class="btn">Cancel</button>
							  </div>
							</fieldset>
						  </form>
					
					</div>
				</div><!--/span-->
			
			</div>


{% if polaridad %}
<div class="row-fluid sortable ui-sortable">
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Análisis de polaridad</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table">
							  <thead>
								  <tr>
									  <th>Polaridad</th>
									  <th>Cantidad</th>
								  </tr>
							  </thead>   
							  <tbody>
                                    {% for entry in polaridad %}
								<tr>
                                          
                                            <td>{{ entry.llave }}</td>
									<td class="center">{{ entry.valor }}</td>
                                          
								</tr>
								    {% endfor %}                           
							  </tbody>
						 </table>  
						    
					</div>
				</div><!--/span-->
				
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Análisis de sentimiento</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table">
							  <thead>
								  <tr>
									  <th>Sentimiento</th>
									  <th>Cantidad</th>
								  </tr>
							  </thead>   
							  <tbody>
                                    {% for entry in sentimiento %}
								<tr>
                                          
                                            <td>{{ entry.llave }}</td>
									<td class="center">{{ entry.valor }}</td>
                                          
								</tr>
								    {% endfor %}                           
							  </tbody>
						 </table>  
						    
					</div>
				</div><!--/span-->
			</div>
    {% endif %}
<!-- end: Content -->	
</div>
{% endblock %}