{% extends "general/base.html" %}
{% block content %}
<div id="content" class="span11" style="min-height: 613px;">
    <h2>Preguntas</h2>

    <p>Listado de preguntas obtenidas del RSS acerca de películas</p>


    <form class="form-horizontal" action="pregunta" method="post">
        <fieldset>
            <div class="row-fluid sortable ui-sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Preguntas</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						
                            <table class="table table-striped table-bordered " id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
						  <thead>
							  <tr role="row">
                                            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 170px;">Pregunta</th>
                                            <th>Cantidad respuestas</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 289px;">Actions</th></tr>
						  </thead>   
						  
					  <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for entry in preguntas %}
                                        <tr>
    									<td>{{ entry.question }}</td>
                                                <td>{{ entry.answers|length }}</td>
    									<td class="center ">
									<a class="btn btn-success" href="{{ 'pregunta/' + entry.id }}">
										<i class="halflings-icon white zoom-in"></i>  
									</a>
								</td>
    									                                      
    								</tr>
                                      {% endfor %}

                    
                            </tbody></table>
					</div>
				</div><!--/span-->
			
			</div>
        </fieldset>
    </form>
    <br>

</div>
{% endblock %}