{% extends "general/base.html" %}
{% block content %}
<div id="content" class="span11" style="min-height: 613px;">
<h2>Información de la pregunta</h2>

<!--BEGIN: Pregunta-->
<div class="row-fluid sortable ui-sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Pregunta</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content" style="display: block;">
                                
                                <h3>URL:</h3>
                                <a href="{{ pregunta.question_url }}" target="_blank">{{ pregunta.question_url }}</a>						
                                <h3>Título:</h3>
                                <p>{{ pregunta.title }}</p>
                                <h3>Tags</h3>
                                <ul>
                                  {% for tag in pregunta.tags %}
                                      <li>{{ tag.term }}</li>
                                  {% endfor %}
                                </ul>
                                <h3>Pregunta:</h3>
                                <div class="box span11">
                                    <p>{{ pregunta.question|safe }}</p>
                                </div>
                                
                        
					</div>
				</div>
			</div>

<!-- END : Pregunta-->


<!--BEGIN: Respuestas-->
{% if pregunta.answers|length > 0 %}
<div class="row-fluid sortable ui-sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Respuestas</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content" style="display: block;">

                                {% for answer in pregunta.answers %}
                                    <div class="box span11">
                                        <h3>Título</h3>
                                        <p>{{ answer.title }}</p>
                                        <h3>Respuesta</h3>
                                        <p>{{ answer.answer|safe }}</p>
                                    </div>
                                {% endfor %}
                                                        
					</div>
				</div>
			</div>
</div>
{% endif %}
<!-- END : Respuestas-->

<!--BEGIN: Annotations-->
<div id="content" class="span11" style="min-height: 613px;">
			

			<div class="row-fluid sortable ui-sortable">
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>Open Calais</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
                                 {% if pregunta.total_annotation|length > 0 %}
                                 <table class="table">
							  <thead>
								  <tr>
									  <th>Tipo</th>
									  <th>Entidad</th>
								  </tr>
							  </thead>   
							  <tbody>
                                            {% for annotation in pregunta.total_annotation %}
        								<tr>
        									<td>{{ annotation.type }}</td>
        									<td class="center">{{ annotation.name }}</td>
        								</tr>
                                            {% endfor %}
							  </tbody>
						 </table>
    					      {% endif %}
					</div>
				</div><!--/span-->
				
				<div class="box span6">
					<div class="box-header">
						<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>NLTK</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						     
                                {% if pregunta.total_annotation_nltk|length > 0 %}
                                 <table class="table">
							  <thead>
								  <tr>
									  <th>Tipo</th>
									  <th>Entidad</th>
								  </tr>
							  </thead>   
							  <tbody>
                                            {% for annotation in pregunta.total_annotation_nltk %}
        								<tr>
        									<td>{{ annotation[0][1] }}</td>
        									<td class="center">{{ annotation[0][0] }}</td>
        								</tr>
                                            {% endfor %}
							  </tbody>
						 </table>
    					      {% endif %}
					</div>
				</div><!--/span-->
			</div><!--/row-->
<!-- END : Annotations-->

<!--BEGIN: DBPedia-->
{% if pregunta.dbpedia|length > 0 %}
<div class="row-fluid sortable ui-sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>DBPedia</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content" style="display: block;">

                                <table class="table">
							  <thead>
								  <tr>
									  <th>Tipo</th>
									  <th>Valor</th>
                                                  <th>URL</th>
								  </tr>
							  </thead>   
							  <tbody>
                                            {% for enrich in pregunta.dbpedia %}
        								<tr>
        									<td>{{ enrich.type }}</td>
                                                     <td>{{ enrich.value }}</td>
        									<td class="center">{{ enrich.url }}</td>
        								</tr>
                                            {% endfor %}
							  </tbody>
						 </table>
                                                        
					</div>
			</div>
</div>
{% endif %}
<!-- END : DBPedia-->

<!--BEGIN: Tweets-->
{% if pregunta.tweets|length > 0 %}
<div class="row-fluid sortable ui-sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Respuestas</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content" style="display: block;">

                                <table class="table">
							  <thead>
								  <tr>
									  <th>Usuario</th>
									  <th>Tweet</th>
								  </tr>
							  </thead>   
							  <tbody>
                                            {% for tweet in pregunta.tweets %}
        								<tr>
        									<td>{{ tweet.screen_name }}</td>
        									<td class="center">{{ tweet.text|safe }}</td>
        								</tr>
                                            {% endfor %}
							  </tbody>
						 </table>
                                                        
					</div>
				</div>
			</div>
</div>
{% endif %}
<!-- END : Tweets-->


</div>
{% endblock %}